header{background-color: blueviolet;color: aliceblue;display:flex; justify-content: space-around;cabecalho-lista-item display: inline block-size: ;;}
.cabecalho-image{width: 
    20%;}
.cabecalho-lista-item{display: inline-block;margin: 16px; font-size: 24px}
.escola-imagem {width: 25%;}